<div class="accessories">
  <h2>Nos produits</h2>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide accessories__slider">
        <div class="accessories__img">
          <img src="/img/accessories-captor.png" alt="">
        </div>
        <div class="container accessories__content">
          <h4>Capteur Oculus</h2>
          <p>Dans un environnement bien dégagé, le capteur Oculus suit un ensemble de LED infrarouges pour retranscrire vos mouvements en réalité virtuelle. </p>
          <a href="#" class="btn--buy">Ajouter au panier</a>
        </div>
      </div>
      <div class="swiper-slide accessories__slider">
        <div class="accessories__img">
          <img src="/img/accessories-earphones.png" alt="">
        </div>
        <div class="container accessories__content">
          <h4>Earphones</h4>
          <p>Profitez d’un son encore plus immersif avec les écouteurs Oculus Rift. Ces écouteurs intraauriculaires sont spécialement adaptés à votre casque Rift et réduisent les distractions sonores lorsque vous êtes en réalité virtuelle.</p>
          <a href="#" class="btn--buy">Ajouter au panier</a>
        </div>
      </div>
      <div class="swiper-slide accessories__slider">
        <div class="accessories__img">
          <img src="/img/accessories-casque.png" alt="">
        </div>
        <div class="container accessories__content">
          <h4>Connexion</h4>
          <p>Un remplacement pour le cable du casque fourni avec l’Oculus Rift.</p>
          <a href="#" class="btn--buy">Ajouter au panier</a>
        </div>
      </div>
      <div class="swiper-slide accessories__slider">
        <div class="accessories__img">
          <img src="/img/accessories-cables.png" alt="">
        </div>
        <div class="container accessories__content">
          <h4>Capteur Oculus</h4>
          <p>Un remplacement de l'interface faciale de l’Oculus Rift.</p>
          <a href="#" class="btn--buy">Ajouter au panier</a>
        </div>
      </div>
      <div class="swiper-slide accessories__slider">
        <div class="accessories__img">
          <img src="/img/accessories-remote.png" alt="">
        </div>
        <div class="container accessories__content">
          <h4>Oculus Remote</h4>
          <p>Une manette de remplacement pour celle contenu dans le pack.</p>
          <a href="#" class="btn--buy">Ajouter au panier</a>
        </div>
      </div>
      <div class="swiper-slide accessories__slider">
        <div class="accessories__img">
          <img src="/img/accessories-remote.png" alt="">
        </div>
        <div class="container accessories__content">
          <h4>Headphones</h4>
          <p>Rechange pour le On-Ear Heaphone du pack.</p>
          <a href="#" class="btn--buy">Ajouter au panier</a>
        </div>
      </div>
    </div>
    <div class="swiper-pagination swiper-pagination-white"></div>
    <div class="swiper__button swiper-button-prev swiper-button-white"></div>
    <div class="swiper__button swiper-button-next swiper-button-white"></div>
  </div>
</div>