<div class="accessories">
  <section>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="accessories__image1"></div>
          <div>
            <h2>Capteur Oculus</h2>
            <p>Dans un environnement bien dégagé, le capteur Oculus suit un ensemble de LED infrarouges pour retranscrire vos mouvements en réalité virtuelle. </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="accessories__image2"></div>
          <div>
            <h2>Earphones</h2>
            <p>Profitez d’un son encore plus immersif avec les écouteurs Oculus Rift. Ces écouteurs intraauriculaires sont spécialement adaptés à votre casque Rift et réduisent les distractions sonores lorsque vous êtes en réalité virtuelle.</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="accessories__image3"></div>
          <div>
            <h2>Connexion</h2>
            <p>Un remplacement pour le cable du casque fourni avec l’Oculus Rift.</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="accessories__image4"></div>
          <div>
            <h2>Capteur Oculus</h2>
            <p>Un remplacement de l'interface faciale de l’Oculus Rift.</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="accessories__image5"></div>
          <div>
            <h2>Oculus Remote</h2>
            <p>Une manette de remplacement pour celle contenu dans le pack.</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="accessories__image6"></div>
          <div>
            <h2>Headphones</h2>
            <p>Rechange pour le On-Ear Heaphone du pack.</p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination swiper-pagination-white"></div>
      <div class="swiper-button-prev swiper-button-white"></div>
      <div class="swiper-button-next swiper-button-white"></div>
    </div>
  </section>
</div>