<section class="accessories" id="accessories">
  <h2 class="container">Accessoires</h2>
  <div class="accessories__wrapper">
    <ul>
      <li>
        <div class="accessories__slider container">
          <div class="accessories__img">
            <img class="lozad" data-src="img/accessories-captor-full.png" alt="Captor accessories for Occulus Rift">
          </div>
          <div class="container accessories__content">
            <h4>Capteur Oculus</h4>
            <p>Dans un environnement bien dégagé, le capteur Oculus suit un ensemble de LED infrarouges pour retranscrire vos mouvements en réalité virtuelle.</p>
            <a href="#" title="Add to shopping bag" class="btn--buy">Ajouter au panier</a>
          </div>
        </div>
      </li>
      <li>
        <div class="accessories__slider container">
          <div class="accessories__img">
            <img class="lozad" data-src="img/accessories-earphones-full.png" alt="Earphones accessories for Occulus Rift">
          </div>
          <div class="container accessories__content">
            <h4>Écouteurs Oculus</h4>
            <p>Profitez d’un son immersif avec les écouteurs Oculus Rift. Ces écouteurs intraauriculaires sont spécialement adaptés à votre casque et réduisent les distractions sonores.</p>
            <a href="#" title="Add to shopping bag" class="btn--buy">Ajouter au panier</a>
          </div>
        </div>
      </li>
      <li>
        <div class="accessories__slider container">
          <div class="accessories__img">
            <img class="lozad" data-src="img/accessories-remote-full.png" alt="Remote accessories for Occulus Rift">
          </div>
          <div class="container accessories__content">
            <h4>Télécommande Oculus</h4>
            <p>Un remplacement pour la télécommande Oculus vendue à l’origine avec Oculus Rift. Ce produit est facultatif si vous possédez déjà les manettes Oculus Touch.</p>
            <a href="#" title="Add to shopping bag" class="btn--buy">Ajouter au panier</a>
          </div>
        </div>
      </li>
      <li>
        <div class="accessories__slider container">
          <div class="accessories__img">
            <img class="lozad" data-src="img/accessories-headphones-full.png" alt="Headphones accessories for Occulus Rift">
          </div>
          <div class="container accessories__content">
            <h4>Oreillettes Oculus</h4>
            <p>Remplacements pour les oreillettes vendues avec Oculus Rift. Les oreillettess Oculus offre un son d'un intensité incroyable.</p>
            <a href="#" title="Add to shopping bag" class="btn--buy">Ajouter au panier</a>
          </div>
        </div>
      </li>
      <li>
        <div class="accessories__slider container">
          <div class="accessories__img">
            <img class="lozad" data-src="img/accessories-casque-full.png" alt="Protection casque accessories for Occulus Rift">
          </div>
          <div class="container accessories__content">
            <h4>Protection faciale Oculus</h4>
            <p>La propreté des mousses est un problème récurrent pour tous les usagers réguliers. Cette protection permet de conserver votre casque propre et confortable.</p>
            <a href="#" title="Add to shopping bag" class="btn--buy">Ajouter au panier</a>
          </div>
        </div>
      </li>
      <li>
        <div class="accessories__slider container">
          <div class="accessories__img">
            <img class="lozad" data-src="img/accessories-cables-full.png" alt="Cables accessories for Occulus Rift">
          </div>
          <div class="container accessories__content">
            <h4>Câble du casque Oculus</h4>
            <p>Un remplacement pour le cable du casque fourni avec l’Oculus Rift d'une longueur de 4 mètres.</p>
            <a href="#" title="Add to shopping bag" class="btn--buy">Ajouter au panier</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>