<div class="applications" id="applications">
  <h2 class="container">Applications</h2>
  <a-scene embedded style="width: 100%; height: 400px;">
    <a-assets>
      <!-- Thumbnails + Background -->
      <img data-load id="aircar-bg" crossorigin="anonymous" src="img/app-aircar-bg.jpg" />
      <img data-load id="aircar-thumb" crossorigin="anonymous" src="img/app-aircar-thumb.jpg" />
      <img data-load id="deadandburied-bg" crossorigin="anonymous" src="img/app-deadandburied-bg.jpg" />
      <img data-load id="deadandburied-thumb" crossorigin="anonymous" src="img/app-deadandburied-thumb.jpg" />
      <img data-load id="hawaiihappen-bg" crossorigin="anonymous" src="img/app-hawaiihappen-bg.jpg" />
      <img data-load id="hawaiihappen-thumb" crossorigin="anonymous" src="img/app-hawaiihappen-thumb.jpg" />
      <img data-load id="ripcoil-bg" crossorigin="anonymous" src="img/app-ripcoil-bg.jpg" />
      <img data-load id="ripcoil-thumb" crossorigin="anonymous" src="img/app-ripcoil-thumb.jpg" />
      <img data-load id="roborecall-bg" crossorigin="anonymous" src="img/app-roborecall-bg.jpg" />
      <img data-load id="roborecall-thumb" crossorigin="anonymous" src="img/app-roborecall-thumb.jpg" />
      <img data-load id="sportschallenge-bg" crossorigin="anonymous" src="img/app-sportschallenge-bg.jpg" />
      <img data-load id="sportschallenge-thumb" crossorigin="anonymous" src="img/app-sportschallenge-thumb.jpg" />
      <img data-load id="theclimb-bg" crossorigin="anonymous" src="img/app-theclimb-bg.jpg" />
      <img data-load id="theclimb-thumb" crossorigin="anonymous" src="img/app-theclimb-thumb.jpg" />
      <img data-load id="theunspoken-bg" crossorigin="anonymous" src="img/app-theunspoken-bg.jpg" />
      <img data-load id="theunspoken-thumb" crossorigin="anonymous" src="img/app-theunspoken-thumb.jpg" />

      <!-- Template for cards -->
      <script id="plane" type="text/html">
        <a-entity class="experience" 
        geometry="primitive: plane; height: 20; width: 30" material="shader: flat; src: ${thumb}"  
        event-set__1="_event: mousedown; scale: 1 1 1; color:red" 
        event-set__2="_event: mouseup; scale: 1.1 1.1 1; color:white" 
        event-set__3="_event: mouseenter; scale: 1.1 1.1 1; color:red" 
        event-set__4="_event: mouseleave; scale: 1 1 1; color:white>" 
        set-image="on: click; target: #background; src: ${src}; dur:0;"></a-entity>
      </script>
    </a-assets>

    <a-sky id="background" src="#aircar-bg"></a-sky>

    <a-entity position="0 0 0">
      <a-camera>
        <a-cursor id="cursor" color="white"
        event-set__1="_event: click; color: red" 
        event-set__2="_event: mouseleave; color: white; scale: 1 1 1" 
        fuse="true" 
        raycaster="objects: .experience">
          <a-animation begin="click" easing="ease-in" attribute="scale" fill="backwards" from="1 1 1" to="1.5 1.5 1.5" dur="50"></a-animation>
          <a-animation begin="cursor-fusing" color="#000000" easing="ease-in" attribute="scale" from="1 1 1" to="1.5 1.5 1.5" dur="50"></a-animation>
        </a-cursor>
      </a-camera>
    </a-entity>

    <a-entity class="animationRotation">
      <a-animation  attribute="rotation"
      dur="100000"
      easing="linear"
      to="0 360 0"
      repeat="indefinite"></a-animation>
    
      <!-- Front -->
      <a-entity position="0 2 -35" look-at="[camera]">
        <a-entity id="experiences" layout="type: line; margin: 35" position="-20 0 0">
          <a-entity template="src: #plane" data-src="#aircar-bg" data-thumb="#aircar-thumb"></a-entity>
          <a-entity template="src: #plane" data-src="#deadandburied-bg" data-thumb="#deadandburied-thumb"></a-entity>
        </a-entity>
      </a-entity>
      <!-- Behind -->
      <a-entity position="0 2 35" look-at="[camera]">
        <a-entity id="experiences" layout="type: line; margin: 35" position="-20 0 0">
          <a-entity template="src: #plane" data-src="#hawaiihappen-bg" data-thumb="#hawaiihappen-thumb"></a-entity>
          <a-entity template="src: #plane" data-src="#ripcoil-bg" data-thumb="#ripcoil-thumb"></a-entity>
        </a-entity>
      </a-entity>
      <!-- Left -->
      <a-entity position="-35 2 0" look-at="[camera]">
        <a-entity id="experiences" layout="type: line; margin: 35" position="-20 0 0">
          <a-entity template="src: #plane" data-src="#roborecall-bg" data-thumb="#roborecall-thumb"></a-entity>
          <a-entity template="src: #plane" data-src="#sportschallenge-bg" data-thumb="#sportschallenge-thumb"></a-entity>
        </a-entity>
      </a-entity>
      <!-- Right -->
      <a-entity position="35 2 0" look-at="[camera]">
        <a-entity id="experiences" layout="type: line; margin: 35" position="-20 0 0">
          <a-entity template="src: #plane" data-src="#theclimb-bg" data-thumb="#theclimb-thumb"></a-entity>
          <a-entity template="src: #plane" data-src="#theunspoken-bg" data-thumb="#theunspoken-thumb"></a-entity>
        </a-entity>
      </a-entity>
    </a-entity>
  </a-scene>
</div>