<div class="applications" id="applications">
  <h2 class="container">Applications</h2>
    <a-scene embedded style="width: 800px; height: 400px;">
      <a-assets>
        <!-- Thumbnails + Background -->
        <img alt='Aircar' id="aircar-bg" class="lozad" crossorigin="anonymous" 
          data-src="img/app-aircar-bg-full.jpg" 
          data-srcset="
            img/app-aircar-bg@350w.jpg 350w,
            img/app-aircar-bg@560w.jpg 560w,
            img/app-aircar-bg@720w.jpg 720w,
            img/app-aircar-bg@1280w.jpg 1280w, "
        />
        <img alt='Aircar thumb' id="aircar-thumb" class="lozad" crossorigin="anonymous" 
          data-src="img/app-aircar-thumb-full.jpg" 
          data-srcset="
            img/app-aircar-thumb@350w.jpg 350w,
            img/app-aircar-thumb@560w.jpg 560w,
            img/app-aircar-thumb@720w.jpg 720w, "
        />
        <img alt='Dead and buried' id="deadandburied-bg" class="lozad" crossorigin="anonymous" 
          data-src="img/app-deadandburied-bg-full.jpg" 
          data-srcset="
            img/app-deadandburied-bg@350w.jpg 350w,
            img/app-deadandburied-bg@560w.jpg 560w,
            img/app-deadandburied-bg@720w.jpg 720w, 
            img/app-deadandburied-bg@1280w.jpg 1280w, "
        />
        <img alt='Dead and buried' id="deadandburied-thumb" class="lozad" crossorigin="anonymous" 
          data-src="img/app-deadandburied-thumb-full.jpg" 
          data-srcset="
            img/app-deadandburied-thumb@350w.jpg 350w,
            img/app-deadandburied-thumb@560w.jpg 560w,
            img/app-deadandburied-thumb@720w.jpg 720w, "
        />
        <img alt='Hawaii Happen' id="hawaiihappen-bg" class="lozad" crossorigin="anonymous" 
          data-src="img/app-hawaiihappen-bg-full.jpg" 
          data-srcset="
            img/app-hawaiihappen-bg@350w.jpg 350w,
            img/app-hawaiihappen-bg@560w.jpg 560w,
            img/app-hawaiihappen-bg@720w.jpg 720w,
            img/app-hawaiihappen-bg@1280w.jpg 1280w, "
        />
        <img alt='Hawaii Happen' id="hawaiihappen-thumb" class="lozad" crossorigin="anonymous" 
          data-src="img/app-hawaiihappen-thumb-full.jpg" 
          data-srcset="
            img/app-hawaiihappen-thumb@350w.jpg 350w,
            img/app-hawaiihappen-thumb@560w.jpg 560w,
            img/app-hawaiihappen-thumb@720w.jpg 720w, "
        />
        <img alt='Ripcoil' id="ripcoil-bg" class="lozad" crossorigin="anonymous" 
          data-src="img/app-ripcoil-bg-full.jpg" 
          data-srcset="
            img/app-ripcoil-bg@350w.jpg 350w,
            img/app-ripcoil-bg@560w.jpg 560w,
            img/app-ripcoil-bg@720w.jpg 720w,
            img/app-ripcoil-bg@1280w.jpg 1280w, "
        />
        <img alt='Ripcoil' id="ripcoil-thumb" class="lozad" crossorigin="anonymous" 
          data-src="img/app-ripcoil-thumb-full.jpg" 
          data-srcset="
            img/app-ripcoil-thumb@350w.jpg 350w,
            img/app-ripcoil-thumb@560w.jpg 560w,
            img/app-ripcoil-thumb@720w.jpg 720w, "
        />
        <img alt='Robo recall' id="roborecall-bg" class="lozad" crossorigin="anonymous" 
          data-src="img/app-roborecall-bg-full.jpg" 
          data-srcset="
            img/app-roborecall-bg@350w.jpg 350w,
            img/app-roborecall-bg@560w.jpg 560w,
            img/app-roborecall-bg@720w.jpg 720w,
            img/app-roborecall-bg@1280w.jpg 1280w, "
        />
        <img alt='Robo recall' id="roborecall-thumb" class="lozad" crossorigin="anonymous" 
          data-src="img/app-roborecall-thumb-full.jpg" 
          data-srcset="
            img/app-roborecall-thumb@350w.jpg 350w,
            img/app-roborecall-thumb@560w.jpg 560w,
            img/app-roborecall-thumb@720w.jpg 720w, "
        />
        <img alt='Sports Challenge' id="sportschallenge-bg" class="lozad" crossorigin="anonymous" 
          data-src="img/app-sportschallenge-bg-full.jpg" 
          data-srcset="
            img/app-sportschallenge-bg@350w.jpg 350w,
            img/app-sportschallenge-bg@560w.jpg 560w,
            img/app-sportschallenge-bg@720w.jpg 720w,
            img/app-sportschallenge-bg@1280w.jpg 1280w, "
        />
        <img alt='Sports Challenge' id="sportschallenge-thumb" class="lozad" crossorigin="anonymous" 
          data-src="img/app-sportschallenge-thumb-full.jpg" 
          data-srcset="
            img/app-sportschallenge-thumb@350w.jpg 350w,
            img/app-sportschallenge-thumb@560w.jpg 560w,
            img/app-sportschallenge-thumb@720w.jpg 720w, "
        />
        <img alt='The Climb' id="theclimb-bg" class="lozad" crossorigin="anonymous" 
          data-src="img/app-theclimb-bg-full.jpg" 
          data-srcset="
            img/app-theclimb-bg@350w.jpg 350w,
            img/app-theclimb-bg@560w.jpg 560w,
            img/app-theclimb-bg@720w.jpg 720w,
            img/app-theclimb-bg@1280w.jpg 1280w, "
        />
        <img alt='The Climb' id="theclimb-thumb" class="lozad" crossorigin="anonymous" 
          data-src="img/app-theclimb-thumb-full.jpg" 
          data-srcset="
            img/app-theclimb-thumb@350w.jpg 350w,
            img/app-theclimb-thumb@560w.jpg 560w,
            img/app-theclimb-thumb@720w.jpg 720w, "
        />
        <img alt='The Unspoken' id="theunspoken-bg" class="lozad" crossorigin="anonymous" 
          data-src="img/app-theunspoken-bg-full.jpg" 
          data-srcset="
            img/app-theunspoken-bg@350w.jpg 350w,
            img/app-theunspoken-bg@560w.jpg 560w,
            img/app-theunspoken-bg@720w.jpg 720w,
            img/app-theunspoken-bg@1280w.jpg 1280w, "
        />
        <img alt='The Unspoken' id="theunspoken-thumb" class="lozad" crossorigin="anonymous" 
          data-src="img/app-theunspoken-thumb-full.jpg" 
          data-srcset="
            img/app-theunspoken-thumb@350w.jpg 350w,
            img/app-theunspoken-thumb@560w.jpg 560w,
            img/app-theunspoken-thumb@720w.jpg 720w, "
        />

        <!-- Template for cards -->
        <script id="plane" type="text/html">
          <a-entity class="experience" 
          geometry="primitive: plane; height: 20; width: 30" material="shader: flat; src: ${thumb}"  
          event-set__1="_event: mousedown; scale: 1 1 1; color:red" 
          event-set__2="_event: mouseup; scale: 1.1 1.1 1; color:white" 
          event-set__3="_event: mouseenter; scale: 1.1 1.1 1; color:red" 
          event-set__4="_event: mouseleave; scale: 1 1 1; color:white>" 
          set-image="on: click; target: #background; src: ${src}; dur:0;"></a-entity>
        </script>
      </a-assets>

      <a-sky id="background" src="#aircar-bg"></a-sky>

      <a-entity position="0 0 0">
        <a-camera>
          <a-cursor id="cursor" color="white"
          event-set__1="_event: click; color: red" 
          event-set__2="_event: mouseleave; color: white; scale: 1 1 1" 
          fuse="true" 
          raycaster="objects: .experience">
            <a-animation begin="click" easing="ease-in" attribute="scale" fill="backwards" from="1 1 1" to="1.5 1.5 1.5" dur="150"></a-animation>
            <a-animation begin="cursor-fusing" color="#000000" easing="ease-in" attribute="scale" from="1 1 1" to="1.5 1.5 1.5" dur="150"></a-animation>
          </a-cursor>
        </a-camera>
      </a-entity>

      <a-entity class="animationRotation">
        <a-animation  attribute="rotation"
        dur="100000"
        easing="linear"
        to="0 360 0"
        repeat="indefinite"></a-animation>
      
        <!-- Front -->
        <a-entity position="0 2 -35" look-at="[camera]">
          <a-entity id="experiences" layout="type: line; margin: 35" position="-20 0 0">
            <a-entity template="src: #plane" data-src="#aircar-bg" data-thumb="#aircar-thumb"></a-entity>
            <a-entity template="src: #plane" data-src="#deadandburied-bg" data-thumb="#deadandburied-thumb"></a-entity>
          </a-entity>
        </a-entity>
        <!-- Behind -->
        <a-entity position="0 2 35" look-at="[camera]">
          <a-entity id="experiences" layout="type: line; margin: 35" position="-20 0 0">
            <a-entity template="src: #plane" data-src="#hawaiihappen-bg" data-thumb="#hawaiihappen-thumb"></a-entity>
            <a-entity template="src: #plane" data-src="#ripcoil-bg" data-thumb="#ripcoil-thumb"></a-entity>
          </a-entity>
        </a-entity>
        <!-- Left -->
        <a-entity position="-35 2 0" look-at="[camera]">
          <a-entity id="experiences" layout="type: line; margin: 35" position="-20 0 0">
            <a-entity template="src: #plane" data-src="#roborecall-bg" data-thumb="#roborecall-thumb"></a-entity>
            <a-entity template="src: #plane" data-src="#sportschallenge-bg" data-thumb="#sportschallenge-thumb"></a-entity>
          </a-entity>
        </a-entity>
        <!-- Right -->
        <a-entity position="35 2 0" look-at="[camera]">
          <a-entity id="experiences" layout="type: line; margin: 35" position="-20 0 0">
            <a-entity template="src: #plane" data-src="#theclimb-bg" data-thumb="#theclimb-thumb"></a-entity>
            <a-entity template="src: #plane" data-src="#theunspoken-bg" data-thumb="#theunspoken-thumb"></a-entity>
          </a-entity>
        </a-entity>
      </a-entity>
    </a-scene>
</div>