<div class="applications">
  <h2 class="container">Applications</h2>
  <div class="aframe">
    <a-scene embedded style="width: 100vw; height: 600px;">
      <!-- Assets -->
      <a-assets>
        <!-- Thumbnails + Background -->
        <img id="aircar-bg" src="img/app-aircar-bg.jpg">
        <img id="aircar-thumb" src="img/app-aircar-thumb.jpg">
        <img id="deadandburied-bg" src="img/app-deadandburied-bg.jpg">
        <img id="deadandburied-thumb" src="img/app-deadandburied-thumb.jpg">
        <img id="hawaiihappen-bg" src="img/app-hawaiihappen-bg.jpg">
        <img id="hawaiihappen-thumb" src="img/app-hawaiihappen-thumb.jpg">
        <img id="ripcoil-bg" src="img/app-ripcoil-bg.jpg">
        <img id="ripcoil-thumb" src="img/app-ripcoil-thumb.jpg">
        <img id="roborecall-bg" src="img/app-roborecall-bg.jpg">
        <img id="roborecall-thumb" src="img/app-roborecall-thumb.jpg">
        <img id="sportschallenge-bg" src="img/app-sportschallenge-bg.jpg">
        <img id="sportschallenge-thumb" src="img/app-sportschallenge-thumb.jpg">
        <img id="theclimb-bg" src="img/app-theclimb-bg.jpg">
        <img id="theclimb-thumb" src="img/app-theclimb-thumb.jpg">
        <img id="theunspoken-bg" src="img/app-theunspoken-bg.jpg">
        <img id="theunspoken-thumb" src="img/app-theunspoken-thumb.jpg">

        <!-- Sound -->
        <audio volume="1" id="click-sound"src="videos/click.wav"></audio>
        <audio autoplay loop volume="0.5" src="videos/noise.wav"></audio>

        <!-- Template for cards -->
        <script id="plane" type="text/html">
          <a-entity class="experience" 
          geometry="primitive: plane; height: 20; width: 30" material="shader: flat; src: ${thumb}" 
          sound="on: click; src: #click-sound" 
          event-set__1="_event: mousedown; scale: 1 1 1; color:red" 
          event-set__2="_event: mouseup; scale: 1.1 1.1 1; color:white" 
          event-set__3="_event: mouseenter; scale: 1.1 1.1 1; color:red" 
          event-set__4="_event: mouseleave; scale: 1 1 1; color:white>" 
          set-image="on: click; target: #background; src: ${src}"></a-entity>
        </script>
      </a-assets>

      <!-- Background -->
      <a-sky id="background" src="#aircar-bg"></a-sky>

      <!-- Camera + Cursor -->
      <a-entity position="0 0 0">
        <a-camera>
          <a-cursor id="cursor" color="white"
          event-set__1="_event: click; color: red" 
          event-set__2="_event: mouseleave; color: white; scale: 1 1 1" 
          fuse="true" 
          raycaster="objects: .experience">
            <a-animation begin="click" easing="ease-in" attribute="scale" fill="backwards" from="1 1 1" to="1.5 1.5 1.5" dur="150"></a-animation>
            <a-animation begin="cursor-fusing" color="#000000" easing="ease-in" attribute="scale" from="1 1 1" to="1.5 1.5 1.5" dur="150"></a-animation>
          </a-cursor>
        </a-camera>
      </a-entity>


      <!-- Cards -->
        <!-- Front -->
        <a-entity position="0 2 -35" look-at="[camera]">
          <a-entity id="experiences" layout="type: line; margin: 35" position="-20 0 0">
            <a-entity template="src: #plane" data-src="#aircar-bg" data-thumb="#aircar-thumb"></a-entity>
            <a-entity template="src: #plane" data-src="#deadandburied-bg" data-thumb="#deadandburied-thumb"></a-entity>
          </a-entity>
        </a-entity>
        <!-- Behind -->
        <a-entity position="0 2 35" look-at="[camera]">
          <a-entity id="experiences" layout="type: line; margin: 35" position="-20 0 0">
            <a-entity template="src: #plane" data-src="#hawaiihappen-bg" data-thumb="#hawaiihappen-thumb"></a-entity>
            <a-entity template="src: #plane" data-src="#ripcoil-bg" data-thumb="#ripcoil-thumb"></a-entity>
          </a-entity>
        </a-entity>
        <!-- Left -->
        <a-entity position="-35 2 0" look-at="[camera]">
          <a-entity id="experiences" layout="type: line; margin: 35" position="-20 0 0">
            <a-entity template="src: #plane" data-src="#roborecall-bg" data-thumb="#roborecall-thumb"></a-entity>
            <a-entity template="src: #plane" data-src="#sportschallenge-bg" data-thumb="#sportschallenge-thumb"></a-entity>
          </a-entity>
        </a-entity>
        <!-- Right -->
        <a-entity position="35 2 0" look-at="[camera]">
          <a-entity id="experiences" layout="type: line; margin: 35" position="-20 0 0">
            <a-entity template="src: #plane" data-src="#theclimb-bg" data-thumb="#theclimb-thumb"></a-entity>
            <a-entity template="src: #plane" data-src="#theunspoken-bg" data-thumb="#theunspoken-thumb"></a-entity>
          </a-entity>
        </a-entity>
    </a-scene>
  </div>
</div>