<section class="conception">
  <div class="container">
    <div class="conception__content">
      <h2>Une conception avancée et sophistiquée</h2>
      <p>Dès la prise en main du Rift, vous voyez et ressentez l’attention qui a été portée à chaque détail de sa conception et de sa fabrication.</p>
    </div>
    <div class="conception__image">
      <picture class='conception__part'>
        <source srcset='img/conception-1@350w.png' media='(max-width:350px)'>
        <source srcset='img/conception-1@560w.png' media='(max-width:560px)'>
        <source srcset='img/conception-1@720w.png' media='(max-width:720px)'>
        <source srcset='img/conception-1@1280w.png' media='(max-width:1280px)'>
        <source srcset='img/conception-1@1920w.png' media='(max-width:1920px)'>
        <img src='img/conception-1-full.png' width='100%' alt='Partie 1'>
      </picture>
      <picture class='conception__part'>
        <source srcset='img/conception-2@350w.png' media='(max-width:350px)'>
        <source srcset='img/conception-2@560w.png' media='(max-width:560px)'>
        <source srcset='img/conception-2@720w.png' media='(max-width:720px)'>
        <source srcset='img/conception-2@1280w.png' media='(max-width:1280px)'>
        <source srcset='img/conception-2@1920w.png' media='(max-width:1920px)'>
        <img src='img/conception-2-full.png' width='100%' alt='Partie 2'>
      </picture>
      <picture class='conception__part'>
        <source srcset='img/conception-3@350w.png' media='(max-width:350px)'>
        <source srcset='img/conception-3@560w.png' media='(max-width:560px)'>
        <source srcset='img/conception-3@720w.png' media='(max-width:720px)'>
        <source srcset='img/conception-3@1280w.png' media='(max-width:1280px)'>
        <source srcset='img/conception-3@1920w.png' media='(max-width:1920px)'>
        <img src='img/conception-3-full.png' width='100%' alt='Partie 3'>
      </picture>
      <picture class='conception__part'>
        <source srcset='img/conception-4@350w.png' media='(max-width:350px)'>
        <source srcset='img/conception-4@560w.png' media='(max-width:560px)'>
        <source srcset='img/conception-4@720w.png' media='(max-width:720px)'>
        <source srcset='img/conception-4@1280w.png' media='(max-width:1280px)'>
        <source srcset='img/conception-4@1920w.png' media='(max-width:1920px)'>
        <img src='img/conception-4-full.png' width='100%' alt='Partie 4'>
      </picture>
      <picture class='conception__part'>
        <source srcset='img/conception-5@350w.png' media='(max-width:350px)'>
        <source srcset='img/conception-5@560w.png' media='(max-width:560px)'>
        <source srcset='img/conception-5@720w.png' media='(max-width:720px)'>
        <source srcset='img/conception-5@1280w.png' media='(max-width:1280px)'>
        <source srcset='img/conception-5@1920w.png' media='(max-width:1920px)'>
        <img src='img/conception-5-full.png' width='100%' alt='Partie 5'>
      </picture>
      <picture class='conception__part'>
        <source srcset='img/conception-6@350w.png' media='(max-width:350px)'>
        <source srcset='img/conception-6@560w.png' media='(max-width:560px)'>
        <source srcset='img/conception-6@720w.png' media='(max-width:720px)'>
        <source srcset='img/conception-6@1280w.png' media='(max-width:1280px)'>
        <source srcset='img/conception-6@1920w.png' media='(max-width:1920px)'>
        <img src='img/conception-6-full.png' width='100%' alt='Partie 6'>
      </picture>
      <picture class='conception__part'>
        <source srcset='img/conception-7@350w.png' media='(max-width:350px)'>
        <source srcset='img/conception-7@560w.png' media='(max-width:560px)'>
        <source srcset='img/conception-7@720w.png' media='(max-width:720px)'>
        <source srcset='img/conception-7@1280w.png' media='(max-width:1280px)'>
        <source srcset='img/conception-7@1920w.png' media='(max-width:1920px)'>
        <img src='img/conception-7-full.png' width='100%' alt='Partie 7'>
      </picture>
      <picture class='conception__part'>
        <source srcset='img/conception-8@350w.png' media='(max-width:350px)'>
        <source srcset='img/conception-8@560w.png' media='(max-width:560px)'>
        <source srcset='img/conception-8@720w.png' media='(max-width:720px)'>
        <source srcset='img/conception-8@1280w.png' media='(max-width:1280px)'>
        <source srcset='img/conception-8@1920w.png' media='(max-width:1920px)'>
        <img src='img/conception-8-full.png' width='100%' alt='Partie 8'>
      </picture>
      <picture class='conception__part'>
        <source srcset='img/conception-9@350w.png' media='(max-width:350px)'>
        <source srcset='img/conception-9@560w.png' media='(max-width:560px)'>
        <source srcset='img/conception-9@720w.png' media='(max-width:720px)'>
        <source srcset='img/conception-9@1280w.png' media='(max-width:1280px)'>
        <source srcset='img/conception-9@1920w.png' media='(max-width:1920px)'>
        <img src='img/conception-9-full.png' width='100%' alt='Partie 9'>
      </picture>
    </div>
    <div class="conception__words">
      <h3>Adaptable</h3>
      <h3>Confortable</h3>
      <h3>Personnalisable</h3>
    </div>
  </div>
</section>