<section class="conception">
  <div class="container">
    <div class="conception__content">
      <h2>Une conception avancée et sophistiquée</h2>
      <p>Dès la prise en main du Rift, vous voyez et ressentez l’attention qui a été portée à chaque détail de sa conception et de sa fabrication.</p>
    </div>
    <div class="conception__image">
      <img data-load alt='Partie 1' class="lozad conception__part conception__part--1" 
        data-src="img/conception-1-full.png" 
        data-srcset="
          img/conception-1@350w.png 350w,
          img/conception-1@560w.png 560w, "
      />
      <img data-load alt='Partie 2' class="lozad conception__part conception__part--2" 
        data-src="img/conception-2-full.png" 
        data-srcset="
          img/conception-2@350w.png 350w,
          img/conception-2@560w.png 560w, "
      />
      <img data-load alt='Partie 3' class="lozad conception__part conception__part--3" 
        data-src="img/conception-3-full.png" 
        data-srcset="
          img/conception-3@350w.png 350w,
          img/conception-3@560w.png 560w, "
      />
      <img data-load alt='Partie 4' class="lozad conception__part conception__part--4" 
        data-src="img/conception-4-full.png" 
        data-srcset="
          img/conception-4@350w.png 350w,
          img/conception-4@560w.png 560w, "
      />
      <img data-load alt='Partie 5' class="lozad conception__part conception__part--5" 
        data-src="img/conception-5-full.png" 
        data-srcset="
          img/conception-5@350w.png 350w,
          img/conception-5@560w.png 560w, "
      />
      <img data-load alt='Partie 6' class="lozad conception__part conception__part--6" 
        data-src="img/conception-6-full.png" 
        data-srcset="
          img/conception-6@350w.png 350w,
          img/conception-6@560w.png 560w, "
      />
      <img data-load alt='Partie 7' class="lozad conception__part conception__part--7" 
        data-src="img/conception-7-full.png" 
        data-srcset="
          img/conception-7@350w.png 350w,
          img/conception-7@560w.png 560w, "
      />
      <img data-load alt='Partie 8' class="lozad conception__part conception__part--8" 
        data-src="img/conception-8-full.png" 
        data-srcset="
          img/conception-8@350w.png 350w,
          img/conception-8@560w.png 560w, "
      />
      <img data-load alt='Partie 9' class="lozad conception__part conception__part--9" 
        data-src="img/conception-9-full.png" 
        data-srcset="
          img/conception-9@350w.png 350w,
          img/conception-9@560w.png 560w, "
      />
    </div>
    <div class="conception__words">
      <h3>Adaptable</h3>
      <h3>Confortable</h3>
      <h3>Personnalisable</h3>
    </div>
  </div>
</section>