<div class="conception">
  <div class="conception__container">
    <h2>Une conception avancée et sophistiquée</h2>
    <p>Dès la prise en main du Rift, vous voyez et ressentez l’attention qui a été portée à chaque détail de sa conception et de sa fabrication.</p>
    <div class="conception__image">
      <div class="partie1"><img src="/img/partie1.png"></div>
      <div class="partie2"><img src="/img/partie2.png"></div>
      <div class="partie3"><img src="/img/partie3.png"></div>
      <div class="partie4"><img src="/img/partie4.png"></div>
      <div class="partie5"><img src="/img/partie5.png"></div>
      <div class="partie6"><img src="/img/partie6.png"></div>
      <div class="partie7"><img src="/img/partie9.png"></div>
      <div class="partie8"><img src="/img/partie7.png"></div>
      <div class="partie9"><img src="/img/partie8.png"></div>
    </div>
    <div class="conception__features container">
        <h3>Adaptable</h3>
        <h3>Confortable</h3>
        <h3>Personnalisable</h3>
      </div>
  </div>
</div>