<div class="page1">
  <img src="../img/oculus_page1.jpg" alt="oculus_page1">
  <h1>Bienvenue dans l'Oculus Rift</h1>
  <p>Plongez dans le Rift et profitez des meilleurs jeux en réalité virtuelle, pour seulement 449€</p>
</div>
<div class="page2">
  <img src="../img/oculus_page2.jpg" alt="oculus_page2">
  <h1>La magie de la présence</h1>
  <p class="page2-first-p">La technologie d’affichage avancée du Rift associée au système de suivi à faible latence Constellation créent la sensation de présence. Rien ne vous a jamais préparé à ce type d’immersion. </p>
  <div class="button-page2"><p class="page2-second-p">Acheter</p></div>
</div>
<div class="page3">
  <img src="../img/oculus_page3.jpg" alt="oculus_page3">
  <h1>Plongez dans le Rift</h1>
  <p>Plongez dans le Rift et profitez des meilleurs jeux en réalité virtuelle, pour seulement 449€</p>
</div>
<div class="page4">
  <h1>Vous aurez l'impression d'y être.</h1>
  <img src="../img/oculus_page4.jpg" alt="oculus_page4">
</div>
<div class="page5">
  <img src="../img/oculus_page5.jpg" alt='oculus_page5'>
  <h1>Des gestes et des mouvements naturels</h1>
  <p class="page5-first-p">Avant même d’avoir saisi une paire de manettes Touch, vous savez déjà comment les utiliser. Les actions intuitives en VR paraissent aussi naturelles que l’utilisation de vos propres mains.</p>
  <div class="button-page5"><p class="page5-second-p">Acheter</p></div>
</div>
<div class="page6">
  <h1>Une conception avancée et sophistiquée</h1>
  <p>Dès la prise en main du Rift, vous voyez et ressentez l’attention qui a été portée à chaque détail de sa conception et de sa fabrication.</p>
  <img src="../img/oculus_page6.jpg" alt='oculus_page6'>
</div>
<div class="page7">
  <p class="page7-p1">Adaptable</p>
  <p class="page7-p2">Confortable</p>
  <p class="page7-p3">Personnalisable</p>
  <img src="../img/oculus_page7.jpg" alt='oculus_page7'>
</div>
