<div class="footer">
  <section>
    <div class="container">
      <div class="footer__copyright">
        <p>© 2017 Oculus VR, LLC.</p>
      </div>
      <div class="footer__links">
        <a href="#">Confidentialité</a>
        <a href="#">Mentions légales</a>
      </div>
      <div class="footer__social">
        <a href="#">
          <img src="img/icon-facebook.svg" alt="">
        </a>
        <a href="#">
          <img src="img/icon-instagram.svg" alt="">
        </a>
        <a href="#">
          <img src="img/icon-twitter.svg" alt="">
        </a>
        <a href="#">
          <img src="img/icon-youtube.svg" alt="">
        </a>
        <a href="#">
          <img src="img/icon-chat.svg" alt="">
        </a>
      </div>
    </div>
  </section>
</div>