<footer class="footer">
  <div class="container">
    <p >© 2017 Oculus VR, LLC.</p>
    <div class="footer__links">
      <a href="https://www.oculus.com/legal/privacy-policy/" title="Privacy">Confidentialité</a>
      <a href="https://www.oculus.com/legal/terms-of-service/" title="Legal">Mentions légales</a>
    </div>
    <div class="footer__socials">
      <a href="https://www.facebook.com/Oculus-580856455454498/?brand_redir=270208243080697" title="Link to our facebook page">
        <img src="img/icon-facebook.svg" alt="Socials facebook">
      </a>
      <a href="https://www.instagram.com/oculus/" title="Link to our instagram account">
        <img src="img/icon-instagram.svg" alt="Socials instagram">
      </a>
      <a href="https://twitter.com/OculusRift" title="Link to our twitter account">
        <img src="img/icon-twitter.svg" alt="Socials twitter">
      </a>
      <a href="https://www.youtube.com/user/oculusvr" title="Link to our youtube channel">
        <img src="img/icon-youtube.svg" alt="Socials youtube">
      </a>
      <a href="https://www.twitch.tv/oculus/videos/all" title="Link to our twitch account">
        <img src="img/icon-twitch.svg" alt="Socials twitch">
      </a>
    </div>
  </div>
</footer>