<div class="gesture">
  <div class="gesture__images">
    <div class="gesture__image gesture__image--left">
      <img src="img/gesture-left.png" alt="Touch controller left">
    </div>
    <div class="gesture__image gesture__image--right">
      <img src="img/gesture-right.png" alt="Touch controller right">
    </div>
  </div>
  <div class="container">
    <h2>Des gestes et des mouvements naturels</h2>
    <p>Avant même d’avoir saisi une paire de manettes Touch, vous savez déjà comment les utiliser. Les actions intuitives en VR paraissent aussi naturelles que l’utilisation de vos propres mains.</p>
    <a href="#" title="Add to shopping bag" class="btn--buy">Ajouter au panier</a>
  </div>
</div>