<div class="gesture">
  <div class="gesture__images">
    <div class="gesture__image gesture__image--left">
      <img src="../img/gesture-left.png" alt="">
    </div>
    <div class="gesture__image gesture__image--right">
      <img src="../img/gesture-right.png" alt="">
    </div>
  </div>
  <div class="container">
    <h2>Des gestes et des mouvements naturels</h2>
    <p>Avant même d’avoir saisi une paire de manettes Touch, vous savez déjà comment les utiliser. Les actions intuitives en VR paraissent aussi naturelles que l’utilisation de vos propres mains.</p>
    <button class="btn--buy">Ajouter au panier</button>
  </div>
</div>