<header class="menu">
  <div class="container menu__container">
    <div class="menu__icon menu__icon-left">
      <a href="index.html" title="Homepage">
        <img src="img/icon-logo.svg" alt="Logo Oculus Rift">
      </a>
      </div>
    <button class="menu__icon menu__icon--right">
      <img class="burger__button" src="img/icon-bugermenu.svg" alt="Menu button">
    </button>
  </div>
  <div class="menu__burger">
      <div class="menuBurger__links">
        <nav>
          <ul>
            <li class="menu__link">
              <a href="#hero">Accueil</a>
            </li>
            <li class="menu__link">
              <a href="#applications">Applications</a>
            </li>
            <li class="menu__link">
              <a href="#accessories">Accessoires</a>
            </li>
            <li class="menu__link">
              <a href="#stand">Démo</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
</header>
