<div class="hero" id="hero">
  <div class="hero__containerImages">
      <img class="hero__image hero__image--eyes" src="img/welcome-eyes.png"
           srcset="img/welcome-eyes-mobile.png 320w,
           img/welcome-eyes-tablette.png 600w,
           img/welcome-eyes.png 1000w"
           sizes="100vw"
           alt="Déplacez le curseur"> 
    <div class="hero__image hero__image--background"></div>
  </div>
  <div class="container">
    <h1 class="hero__title">Bienvenue<br>dans l'Oculus Rift</h1>
    <p class="hero__paragraph">Plongez dans le Rift et profitez des meilleurs jeux en réalité virtuelle, pour seulement 449€.</p>
  </div>
</div>