<section class="hero" id="hero">
  <div class="hero__images">
    <div class="hero__images--background animation-opacity"></div>
    <img data-load alt="Découvrez l'oculus" class="hero__images--eyes lozad" 
      data-src="img/welcome-eyes-full.png" 
      data-srcset="
        img/welcome-eyes@350w.png 350w,
        img/welcome-eyes@560w.png 560w,
        img/welcome-eyes@720w.png 720w,
        img/welcome-eyes@1280w.png 1280w, " />
  </div>
  <div class="hero__content">
    <div class="container">
      <h1>Bienvenue dans l'Oculus Rift</h1>
      <p>Plongez dans le Rift et profitez des meilleurs jeux en réalité virtuelle, pour seulement 449€.</p>
    </div>
  </div>
</section>