<section class="hero" id="hero">
  <div class="hero__images">
    <div class="hero__image hero__image--background"></div>
    <picture>
      <source srcset="img/welcome-eyes@350w.png" media="(max-width:350px)">
      <source srcset="img/welcome-eyes@560w.png" media="(max-width:560px)">
      <source srcset="img/welcome-eyes@720w.png" media="(max-width:720px)">
      <source srcset="img/welcome-eyes@1280w.png" media="(max-width:1280px)">
      <source srcset="img/welcome-eyes@1920w.png" media="(max-width:1920px)">
      <img src="img/welcome-eyes-full.png" alt="Découvrez l'oculus" class="hero__image--eyes">
    </picture>
  </div>
  <div class="hero__content">
    <div class="container">
      <h1>Bienvenue dans l'Oculus Rift</h1>
      <p>Plongez dans le Rift et profitez des meilleurs jeux en réalité virtuelle, pour seulement 449€.</p>
    </div>
</div>
</section>