<section class="immersive">
  <div class="immersive__background">
    <picture>
      <source srcset='img/immersive-turtle@350w.png' media='(max-width:350px)'>
      <source srcset='img/immersive-turtle@560w.png' media='(max-width:560px)'>
      <source srcset='img/immersive-turtle@720w.png' media='(max-width:720px)'>
      <source srcset='img/immersive-turtle@1280w.png' media='(max-width:1280px)'>
      <source srcset='img/immersive-turtle@1920w.png' media='(max-width:1920px)'>
      <img data-src='img/immersive-turtle-full.png' width='60%' alt='Turtle' class="lozad rellax immersive__turtle" data-rellax-speed="5">
    </picture>
    <div class="container immersive__content rellax" data-rellax-speed="-1">
      <div class="immersive__wrapper">
        <h2>Plongez dans le Rift</h2>
        <p>Que vous vous immergiez dans votre jeu préféré, que vous passiez simplement un moment avec des amis ou que vous regardiez un film en réalité virtuelle...</p>
        <h3>Vous aurez l'impression d'y être</h3>
      </div>
    </div>
  </div>
</section>