<div class="immersive">
  <div class="immersive__grid">
    <div class="immersive__image immersive__image--background"></div>
    <div class="immersive__image immersive__image--turtle"></div>
  </div>
  <div class="immersive-content container">
    <h2>Plongez dans le Rift</h2>
    <div>
      <p>Que vous vous immergiez dans votre jeu préféré, que vous passiez simplement un moment avec des amis ou que vous regardiez un film en réalité virtuelle...</p>
      <h3>Vous aurez l'impression d'y <span>être</span></h3>
    </div>
  </div>

</div>

<!-- <div class="container immersive__content">
    <h2>Plongez dans le Rift</h2>
    <p>Plongez dans le Rift et profitez des meilleurs jeux en réalité virtuelle, pour seulement 449€</p>
    <div class="immersive__title">
      <h3>Vous aurez l'impression d'y être</h3>
    </div>
  </div> -->