<section class="immersive">
  <div class="immersive__background">
    <img data-load alt='Turtle' class="lozad rellax immersive__turtle"
    data-rellax-speed="5" 
    data-src='img/immersive-turtle-full.png'
    data-srcset="
      img/immersive-turtle@350w.png 350w,
      img/immersive-turtle@560w.png 560w,
      img/immersive-turtle@720w.png 720w " />
    <div class="container immersive__content rellax" data-rellax-speed="-1">
      <div class="immersive__wrapper">
        <h2>Plongez dans le Rift</h2>
        <p>Que vous vous immergiez dans votre jeu préféré, que vous passiez simplement un moment avec des amis ou que vous regardiez un film en réalité virtuelle...</p>
        <h3>Vous aurez l'impression d'y être</h3>
      </div>
    </div>
  </div>
</section>