<div class="magic">
  <div class="magic__image">
      <img class="hero__image hero__image--eyes"
      src="img/magic-background.png"
      srcset="img/magic-background.jpg 320w,
        img/magic-background.jpg 640w,
        img/magic-background.png 1000w"
      width="100%">
  </div>
  <div class="magic__content">
    <div class="container">
      <h2 class="magic__contentTitle">La magie de la présence</h2>
      <p class="magic__contentDescription">La technologie d’affichage avancée du Rift associée au système de suivi à faible latence Constellation, créent la sensation de présence. Rien ne vous a jamais préparé à ce type d’immersion. </p>
      <a href="#" title="Add to shopping bag" class="btn--buy">Ajouter au panier</a>
  </div>
  </div>
</div>