<div class="burger">
  <div class="burger__link">
    <nav>
      <ul>
        <li class="menu__link">
          <a href="#hero">Accueil</a>
        </li>
        <li class="menu__link">
          <a href="#applications">Applications</a>
        </li>
        <li class="menu__link">
          <a href="#accessories">Accessoires
          </a>
        </li>
        <li class="menu__link">
          <a href="#stand">Démo</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="burger__network">
      <i class="fa fa-facebook-official" aria-hidden="true"></i>
      <i class="fa fa-instagram" aria-hidden="true"></i>
      <i class="fa fa-twitter" aria-hidden="true"></i>
      
    <i class="fa fa-youtube-play" aria-hidden="true"></i>
    <i class="fa fa-twitch" aria-hidden="true"></i>
    
  </div>
</div>