<div class="burger">
    <nav>
        <ul>
            <li><h2><a href="#">Accueil</a></h2></li>
            <li><h2><a href="#">Accessoires</a></h2></li>
            <li><h2><a href="#">Applications</a></h2></li>
            <li><h2><a href="#">Stand démo</a></Stand></h2></li>
        </ul>
    </nav>
    <div class="burger__network">
        <div><img src="img/icon-facebook.svg" alt="Socials facebook"></div>
        <div><img src="img/icon-instagram.svg" alt="Socials instagram"></div>
        <div><img src="img/icon-twitter.svg" alt="Socials twitter"></div>
        <div><img src="img/icon-youtube.svg" alt="Socials youtube"></div>
        <div><img src="img/icon-twitch.svg" alt="Socials twitch"></div>
    </div>
</div>