<div class="burger">
    <div class="burger__link">
        <nav>
            <ul>
                <a href="#hero"><li class="menu__link">Accueil</li></a>
                <a href="#applications"><li class="menu__link">Applications</li></a>
                <a href="#accessories"><li class="menu__link">Accessoires</li></a>
                <a href="#stand"><li class="menu__link">Démo</li></a>
            </ul>
        </nav>
    </div>
    <div class="burger__network">
            <div><img src="img/icon-facebook.svg" alt="Socials facebook"></div>
            <div><img src="img/icon-instagram.svg" alt="Socials instagram"></div>
            <div><img src="img/icon-twitter.svg" alt="Socials twitter"></div>
            <div><img src="img/icon-youtube.svg" alt="Socials youtube"></div>
            <div><img src="img/icon-twitch.svg" alt="Socials twitch"></div>
    </div>
</div>

