<section class="stand" id="stand">
  <div class="container">
    <div class="stand__icon">
      <img src="img/icon_location.svg" alt="Location icon">
    </div>
    <div class="stand__content">
      <h2>Trouver un stand démo maintenant</h2>
      <p>
        Essayez le Rift, ainsi que les manettes Touch, sur un stand démo chez un détaillant près de chez vous.
      </p>
      <a href="https://live.oculusvr.com/" title="Found a stand" class="btn--buy">Trouver un stand démo</a>
    </div>
  </div>
</section>