.accessories {
  h2 {
    text-align: center;
  }
}

.accessories__wrapper {
  position: relative;
  width: 100vw;

  ul {
    padding: 0;
    transition: transform 0.5s ease-in-out;
    font-size: 0;
    text-align: center;

    li {
      display: inline-block;
      width: 100vw;
      height: 100%;
      color: white;
      font-size: 1rem;
    }
  }
}

.accessories__slider {
  display: grid;
  grid-template-rows: 20rem auto;
  grid-template-areas: 'img' 'content';
  grid-row-gap: $space;
}

.accessories__img {
  align-self: end;
  justify-self: center;
  grid-area: img;
  height: 90%;
  img {
    width: auto;
    height: 100%;
  }
}

.accessories__content {
  grid-area: content;
  padding: 0 $normal-space;
  text-align: center;
  height: 100%;
}

.accessories__wrapper .arrow {
  position: absolute;
  top: 45%;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  color: $light;
  width: 20px;

}

.accessories__wrapper .arrow:hover {
  transform: scale(1.1);
}

.accessories__wrapper .arrow-left {
  left: 5%;
}

.accessories__wrapper .arrow-right {
  right: 5%;
}

.accessories__wrapper .dots {
  position: absolute;
  top: 100%;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  font-size: 0;
}

.accessories__wrapper .dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 2px;
  border-radius: 50%;
  background: $deep-grey;
  cursor: pointer;
}

.accessories__wrapper .dots .current-dot {
  background: $light;
}
