.applications {
  padding-top: $sections-space;
}

.applications__images__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .applications__image {
    height: 219px;
    background: green;
  }
  .applications__image1 {
    @include background('../img/applications-image-1.jpg', center, cover);

    width: 60%;
  }
  .applications__image2 {
    @include background('../img/applications-image-2.jpg', center, cover);

    width: 40%;
  }
  .applications__image3 {
    @include background('../img/applications-image-3.jpg', center, cover);

    width: 40%;
  }
  .applications__image4 {
    @include background('../img/applications-image-4.jpg', center, cover);

    width: 60%;
  }
  .applications__image5 {
    @include background('../img/applications-image-5.jpg', center, cover);

    width: 60%;
  }
  .applications__image6 {
    @include background('../img/applications-image-6.jpg', center, cover);

    width: 40%;
  }
}
