.conception__image {
  position: relative;
  height: 30rem;
  background: radial-gradient(ellipse at center, rgba(169, 169, 169, 0.5), rgba(78, 78, 78, 0.5), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}
.conception__part {
  position: absolute;
  top: 0;
  left: 0;
}
.conception__content {
  text-align: right;
}
