.conception {
  padding-bottom: $sections-space;
}

.conception__image {
  @include background('../img/oculus_détouré.png', left, cover);
  @include size(150%, 40vh);
}

.conception__features {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 16rem;

  h3 {
    text-align: center;
  }
}
