.footer {
  margin-bottom: $sections-space;
  text-align: center;
  font-size: 0.8em;
  font-weight: 600;
}

.footer__links {
  display: flex;
  justify-content: space-around;
  margin: $space 0;
  font-size: 0.9em;
  font-weight: 500;
}

.footer__socials {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;
  img {
    width: 1.6rem;
    height: auto;
  }
}
