.gesture {
  padding: $blocs-space 0 $sections-space 0;
}

.gesture__images {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 22rem;
  grid-gap: 1rem;
}

.gesture__image {
  &--left {
    align-self: start;
  }
  &--right {
    align-self: end;
  }
}
