.gesture {
  padding-bottom: $sections-space;
  .gesture__images {
    display: grid;

    padding: $sections-space 0;

    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    .gesture__image {
      
      &--left {
        transform: translateY(-5rem);
      }

      &--right {
        transform: translateY(5rem);
      }
    }

  }
}
