.menu {
  position: fixed;
  z-index: 4;
  width: 100vw;
  padding: 1rem;
  border-bottom: 1px solid #222222;
  background-color: $dark;
}

.menu__container {
  display: flex;
  align-items: center;
  height: 4rem;
}

.menu__icon {
  flex: 1;
  height: 60%;
  cursor: pointer;
  &--left {
    text-align: left;
  }
  &--right {
    text-align: right;
  }
  img {
    width: auto;
    height: 100%;
  }
}
