.hero {
  @include responsive($sm) {
    flex-direction: column-reverse;
    margin-top: $sections-space;
    text-align: center;
  }
  display: flex;
  flex-direction: column;
  margin-top: $space;
  padding-bottom: $sections-space;
}

.hero__containerImages {
  position: relative;
  z-index: 0;
  width: 100%;
  overflow: hidden;
  cursor: move;
}

.hero__image {
  @include size(100vw, auto);
  font-size: 0;
  &--background {
    @include background('../img/welcome-background-small.jpg', 50%, cover);
    @include responsive(tablet) {
      background-image: url('../img/welcome-background-medium.jpg');
    }
    @include responsive(desktop) {
      background-image: url('../img/welcome-background-large.jpg');
    }
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 90%;
  }

  &--eyes {
    position: relative;
    z-index: 2;
    vertical-align: middle;
  }
}
