.hero {
  display: flex;
  flex-direction: column;
  padding-bottom: $sections-space;
  @include responsive($sm) {
    flex-direction: column-reverse;
    transform: translateY(0px);
  }
  @include responsive($md) {
    transform: translateY(-100px);
    padding-bottom: 0;
  }
  &--container {
    @include responsive($sm) {
      text-align: center;
    }
  }
}
.hero__containerImages {
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.hero__title {
  @include responsive($sm) {
    text-align: center;
    margin-top: 0;
    transform: translateY(50px);
    position: relative;
  }
  @include responsive($md) {
    text-align: center;
    margin-top: 0;
    transform: translateY(100px);
    position: relative;
  }
}
.hero__paragraph {
  @include responsive($sm) {
    text-align: center;
    transform: translateY(50px);
    position: relative;
  }
  @include responsive($md) {
    transform: translateY(100px);
    position: relative;
  }
}
.hero__image {
  @include size(100vw, auto);
  font-size: 0;
  &--background {
    height: 90%;
    @include background('../img/welcome-background-small.jpg', 50%, cover);
    @include responsive(tablet) {
      background-image: url('../img/welcome-background-medium.jpg');
    }
    @include responsive(desktop) {
      background-image: url('../img/welcome-background-large.jpg');
    }
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
  }

  &--eyes {
    //@include background('../img/welcome-eyes.png', 50%, cover);
    //grid-area: 1/1;
    position: relative;
    z-index: 2;
    vertical-align: middle;
  }
}