.immersive {
  @include background('../img/immersive-background-large.png', 20%, cover);
  @include size(100vw, 100vh);

  display: grid;
  grid-template-rows: 35% 40% 15% 10%;
  grid-template-areas: 'title' 'turtle' 'content' 'slogan';
  grid-gap: 3.2rem;
}
.immersive__title {
  align-self: end;
  grid-area: title;
  text-align: center;
}

.immersive__turtle {
  @include background('../img/immersive-turtle.png', 100%, contain);

  grid-area: turtle;
  height: 30rem;
}

.immersive__content {
  grid-area: content;
}

.immersive__slogan {
  align-self: end;
  grid-area: slogan;
  text-align: center;

  span {
    font-weight: 500;
  }
}
