.immersive {
  @include background('../img/immersive-background-small.png', 20%, cover);
  @include responsive(tablet) {
    background-image: url('../img/immersive-background-medium.jpg');
  }
  @include responsive(desktop) {
    background-image: url('../img/immersive-background-large.jpg');
  }
  @include size(100vw, 100vh);
  display: grid;
  grid-template-rows: 30% 50% auto;
  grid-template-areas: 'title' 'turtle' 'content';
}

.immersive__title {
  align-self: end;
  grid-area: title;
  text-align: center;
}

.immersive__turtle {
  @include background('../img/immersive-turtle.png', 100%, contain);
  align-self: end;
  grid-area: turtle;
  height: 75%;
}

.immersive__content {
  grid-area: content;
}

.immersive__slogan {
  padding: $blocs-space;
  text-align: center;

  span {
    font-weight: 500;
  }
}
