.immersive {
  @include background('../img/immersive-background-small.png', 20%, cover);
  @include responsive($lg) {
    height: 150vh;
    h2 {
      width: 60rem;
      margin: 0;
      padding-top: 35rem;
      padding-bottom: 4rem;
      text-align: inherit;
      line-height: 6rem;
      font-size: 5rem;
    }
    p {
      width: 45rem;
      padding-top: 0;
    }
    h3 {
      padding-top: 20rem;
      text-align: inherit;
      font-weight: 400;
      span {
        display: inline-block;
      }
    }
    .turtle {
      @include background('../img/immersive-turtle.png', 100%, cover);
      float: right;
      width: 68.4rem;
      height: 60rem;
      transform: translateY(-35rem);
      transition: 2s;
      &:hover {
        transform: translateY(-40rem);
        animation: 2s ease-in-out;
      }
    }
  }
  height: 100vh;
  margin-bottom: $sections-space*2;
  h2 {
    width: 27rem;
    margin: 0 auto;
    padding-top: 15rem;
    text-align: center;
  }
  p {
    padding-top: 20rem;
  }
  h3 {
    padding-top: 15rem;
    text-align: center;
    span {
      display: block;
      font-weight: 600;
    }
  }
}
