.landing {
    display:none;

    @include responsive($md) {
        display: block;

        height: 760vh;

        background-color: $light;

        .set-height {
            display: block;
        }
    
        .v0 {
            position: fixed;
            top:4.8rem;
            top: 50%;
            left: 50%;

            width: 80%;

            transform: translate(-50%, -50%);
        }
    } 
}