.magic__image {
  @include background('../img/magic-background.jpg', 0%, cover);
  @include size(100vw, 34rem);
}

.magic {
  @include responsive($sm) {
    .magic__image {
      transform: translateX(20rem);
    }
  }
  @include responsive($md) {
    display: flex;
    flex-direction: row-reverse;
    .magic__content {
      h2 {
        font-size: 4rem;
      }
    }
    .magic__image {
      @include size(100vw, 50rem);
      transform: translateX(-$normal-space);
    }
  }
  @include responsive($lg) {
    .magic__image {
      width: 100vw;
      height: 80vh;
    }
    .magic__content {
      margin-right: 10rem;
      h2 {
        width: 40rem;
        padding-bottom: 4rem;
        line-height: 6rem;
        font-size: 5rem;
      }
      p {
        width: 37rem;
      }
    }
  }
}
