.magic {
  width: 100vw;
  height: auto;
  @include responsive($md) {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
  }
}
  
.magic__image {
  background-size: 100vw auto;
  @include background('../img/magic-background.jpg', left top, contain);
  @include size(100vw, 34rem);
  @include responsive($md) {
    width: 60vw;
    @include background('../img/magic-background.png', left top, contain);
  }
}

.magic {
  @include responsive($md) {
    display: flex;
    flex-direction: row-reverse;
  }
}

.magic__content {
  transform: translateY(-8rem);
  @include responsive($md) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
    transform: translateY(0); 
  }
}

.magic__contentTitle {
  font-size: 4rem;
  @include responsive($lg) {
    width: 60rem;
    font-size: 5rem;
    padding-bottom: 4rem;
    line-height: 6rem;
  }
}

.magic__contentDescription {
  @include responsive($md) {
    width: 45rem;
  }
  @include responsive($lg) {
    width: 45rem;
  }
}