.burger {
  position: fixed;
  top: 4.8rem;
  z-index: 5;
  width: 100vw;
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
  background-color: $light;
  color: $dark;

  .burger__link {
    @include responsive($lg) {
      margin-top: 5rem;
    }
    display: flex;
    justify-content: center;

    li {
      @include responsive($lg) {
        font-weight: 800;
      }
      position: relative;
      width: 100%;
      margin-top: 5rem;
      padding: 2%;
      transition: ease 0.1s;
      text-align: center;
      text-decoration: none;
      line-height: 3.6rem;
      font-size: 3.2rem;
      font-weight: 600;

      &:before {
        position: absolute;
        bottom: 0;
        left: -5%;
        width: 110%;
        height: 0;
        transition: ease 0.1s;
        background: rgba(62, 103, 215, 0.7);
        content: '';
      }

      &:hover {
        &:before {
          height: 2rem;
          z-index: -1;
        }
      }
    }
  }

  .burger__network {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15rem;

    i {
      margin: 3rem;
      font-size: 2rem;
    }
  }
}
