.burger {
    background-color: $light;
    height: 100vh;
    width: 100vw;
    z-index: 5;
    top:4.8rem;
    position: fixed;
    display: none;

    animation:1s;
    
            @keyframes open {
                0% {transform: translateX(100vh)}
                100% {transform: translateX(0)}
            }
    
            @keyframes close {
                0% {transform: translateX(0)}
                100% {transform: translateX(100vh)}
            }
    
    li {
        width: 30rem;
        margin: 0 auto;
        text-align: center;

            h2 {
                color:$dark;
                text-align: center;
                margin-top:6rem;
            }
    }

    .burger__network {
        width: 80%;
        margin: 0 auto;
        display: flex;
        margin-top: 10rem;
        justify-content: space-between;
        align-content: center;
        background:red;
        
        
        div {
            width: 2.6rem;
            height: auto;

            svg {
                fill:red;
            }
        }
    }

    @include responsive($lg) {

        animation:1s;

        @keyframes open {
            0% {transform: translateY(100vh)}
            100% {transform: translateY(0)}
        }

        @keyframes close {
            0% {transform: translateY(0)}
            100% {transform: translateY(100vh)}
        }

        h2 {
            font-weight: 800;
            margin-top: 8rem;
        }

        .burger__network {
            width: 30%;
            color: $deep-grey;
            
        }
    }
}