.stand {
  padding: 10% 0 5% 0;
  section {
    .container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      .stand__title {
        text-align: center;
      }
      p {
        text-align: center;
        width: 100%;
        font-size:1.2rem;
        padding: 0 5%;
        margin: 0 auto;
      }
      .stand__pictogram {
        text-align: center;
        width: 100%;
        img{
          width: 58px;
          height: 58px;
          margin-bottom: 24px
        }
      }
    }
  }
}