.accessories {
  section {
    .swiper-container {
      width: 100vw;
      height: 60vh;

      .swiper-wraper {
        width:50%;
      }

      p {
        text-align: center;
        font-size:1.2rem;
        width: 80%;
        margin: 0 auto;
      }

      h2 {
        text-align: center;
        font-size: 2rem;
      }
      .accessories__image1 {
        @include background('../img/slider1.png', center, cover);
        @include size(50%, 50%);
        margin: 0 auto;
      }
      .accessories__image2 {
        @include background('../img/slider2.png', center, cover);
        @include size(20rem, 20rem);
        margin: 0 auto;
      }
      .accessories__image3 {
        @include background('../img/slider3.png', center, cover);
        @include size(20rem, 20rem);
        margin: 0 auto;
      }
      .accessories__image4 {
        @include background('../img/slider4.png', center, cover);
        @include size(20rem, 20rem);
        margin: 0 auto;
      }
      .accessories__image5 {
        @include background('../img/slider5.png', center, cover);
        @include size(20rem, 20rem);
        margin: 0 auto;
      }
      .accessories__image6 {
        @include background('../img/slider6.png', center, cover);
        @include size(20rem, 20rem);
        margin: 0 auto;
      }
    }
  }
}