.conception {
  padding-bottom: $sections-space;

  .conception__image {
    margin: $normal-space 0;

    @include background('../img/oculus_détouré.png', left, cover);
    @include size(150%, 40vh);
  }
  .conception__features {
    h3 {
      text-align: center;
    }
  }
}