.hero {
  padding-bottom: 9.6rem;
  section {
    .hero__image {
      @include background('../img/oculus_page1.jpg', center, cover);
      @include size(100vw, 50vh);
    }
  }
}

.magic {
  padding-bottom: 8rem;
  section {
    .magic__image {
      @include background('../img/oculus_page2.jpg', 0%, cover);
      @include size(100vw, 60vh);
    }
  }
}

.immersive {
  section {
    .immersive__image {
      position: relative;
      @include background('../img/tortue.png', center, cover);
      @include size(100vw, 100vh);

      .immersive__content {
        position: absolute;
        top: 0%;
        left: 5%;
      }
    }
  }
}

.gesture {
  padding-bottom: 10rem;
  section {
    .gesture__image {
      @include background('../img/oculus_page5.jpg', center, cover);
      @include size(100vw, 40vh);
    }
  }
}

.conception {
  padding-bottom:5rem;
  section {
    .conception__image {
      @include background('../img/oculus_page6.jpg', center, cover);
      @include size(100vw, 40vh);
    }
  }
}

.features {
  padding-bottom: 5rem;
  section {
    .features__image {
      @include background('../img/oculus_page7.png', center, cover);
      @include size(100vw, 40vh);
     
    }
  }
}

.accessories {
  section {
    .swiper-container {
      width: 100vw;
      height: 60vh;

      .swiper-wraper {
        width:50%;
      }

      p {
        text-align: center;
        font-size:1.2rem;
        width: 80%;
        margin: 0 auto;
      }

      h2 {
        text-align: center;
        font-size: 2rem;
      }
      .accessories__image1 {
        @include background('../img/slider1.png', center, cover);
        @include size(50%, 50%);
        margin: 0 auto;
      }
      .accessories__image2 {
        @include background('../img/slider2.png', center, cover);
        @include size(20rem, 20rem);
        margin: 0 auto;
      }
      .accessories__image3 {
        @include background('../img/slider3.png', center, cover);
        @include size(20rem, 20rem);
        margin: 0 auto;
      }
      .accessories__image4 {
        @include background('../img/slider4.png', center, cover);
        @include size(20rem, 20rem);
        margin: 0 auto;
      }
      .accessories__image5 {
        @include background('../img/slider5.png', center, cover);
        @include size(20rem, 20rem);
        margin: 0 auto;
      }
      .accessories__image6 {
        @include background('../img/slider6.png', center, cover);
        @include size(20rem, 20rem);
        margin: 0 auto;
      }
    }
  }
}