@import "components/_reset.scss";
@import "components/_variables.scss";
@import "partials/_header.scss";
@import "partials/_content.scss";


body
{
    background-color: $background;
    font-size: 16px;
    color: white;
    font-family: PlayfairDisplay;
}
