// Import files
@import "components/_reset.scss";
@import "components/_variables.scss";
@import "components/_fonts.scss";
@import "components/_buttons.scss";
@import "partials/_header.scss";
@import "partials/_hero.scss";

// Main
html {
  font-size: 62.5%;
}
html, body{
  overflow-x: hidden;
}
body {
  background-color: $dark;
  min-width: 32rem;
}

.container {
  width: 90%;
  margin: auto;
}