// Colors
$dark: #000000;
$deep-grey: #363636;
$main-blue: #5485D4;
$light: #ffffff;
$medium-light: #e4e4e4;

// Responsive
$medium: 768px;
$large: 1024px;

// Mixins
@mixin background($url, $position, $size) {
  background-image: url($url);
  background-position: $position;
  background-size: $size;
  background-repeat: no-repeat;
  background-origin: center;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}