$main-color : #cacaca;
$second-color : #ff2171;
$background : #000000;
$medium: 768px;
$large: 1024px;

@font-face
{
    font-family: 'PlayfairDisplay';
    font-weight: 400;
    src: url(../fonts/PlayfairDisplay-Regular.ttf);
}
