@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;

    src: url('../fonts/#{$file-path}.eot');
    src: url('../fonts/#{$file-path}.eot?#iefix') format('embedded-opentype'),
    url('../fonts/#{$file-path}.ttf') format('truetype');
  }
}
@include font-face(Montserrat, Montserrat-Black, 800, normal);
@include font-face(Montserrat, Montserrat-SemiBold, 600, normal);
@include font-face(Montserrat, Montserrat-Medium, 500, normal);
@include font-face(Montserrat, Montserrat-Regular, 400, normal);
@include font-face(Montserrat, Montserrat-Light, 300, normal);


// Typography
body {
  line-height: 2.1rem;
  color: $medium-light;
  font-family: 'Montserrat';
  font-size: 1.6rem;
  font-weight: 300;
}
h1,
h2,
h3,
h4 {
  color: $light;
}
h1 {
  padding-bottom: 2.4rem;
  line-height: 4.4rem;
  font-size: 4rem;
  font-weight: 800;
}

h2 {
  padding-bottom: 1.6rem;
  line-height: 3.6rem;
  font-size: 3.2rem;
  font-weight: 600;
}

h3 {
  line-height: 3.8rem;
  font-size: 3.2rem;
  font-weight: 300;
}

h4 {
  padding: 1.6rem;
  line-height: 2.4rem;
  font-size: 1.6rem;
  font-weight: 800;
}
