// Typography
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.1rem;

  color: $medium-light;
}

h1,
h2,
h3,
h4 {
  color: $light;
}

h1 {
  font-size: 4rem;
  font-weight: 800;
  line-height: 4.4rem;

  padding-bottom: 2.4rem;
}

h2 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 3.6rem;

  padding-bottom: 1.6rem;
}

h3 {
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 3.8rem;
}

h4 {
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 2.4rem;

  padding: 1.6rem;
}