// Colors
$dark: #000;
$deep-grey: #363636;
$main-blue: #3e67d7;
$light: #fff;
$medium-light: #e4e4e4;

// Responsive
$medium: 768px;
$large: 1024px;

// Mixins
@mixin background($url, $position, $size) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: $position;
  background-size: $size;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

// Variables
$normal-space: 4.2rem;
$sections-space: 9.6rem;
$blocs-space: 3.2rem; 