// Colors
$dark: #000000;
$deep-grey: #363636;
$main-blue: #3e67d7;
$light: #ffffff;
$medium-light: #e4e4e4;
// Mixins
@mixin background($url, $position, $size) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: $position;
  background-size: $size;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin responsive($point) {
  @if $point == desktop {
    @media (min-width: 769px) {
      @content ;
    }
  }

  @else if $point == tablet {
    @media (min-width: 460px) {
      @content ;
    }
  }
}
// Variables
$normal-space: 4.2rem;
$sections-space: 9.6rem;
$blocs-space: 3.2rem;
$space: 2.4rem;
