.accessories {
  margin-bottom: $sections-space;
  h2 {
    @include responsive($md) {
      text-align: left;
    }
    text-align: center;
  }
}

.accessories__wrapper {
  position: relative;
  width: 100vw;

  ul {
    padding: 0;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    font-size: 0;

    li {
      display: inline-block;
      width: 100vw;
      color: white;
      font-size: 1.6rem;

      p {
        font-size: 0.875em;
      }
    }
  }
}

.accessories__slider {
  @include responsive($md) {
    align-items: center;
    flex-direction: row;
    border-top: 1px solid $light;
    border-bottom: 1px solid $light;
  }
  display: flex;
  flex-direction: column;
}

.accessories__img {
  @include responsive($md) {
    width: 50%;
    height: 35rem;
    margin-bottom: 2rem;
    padding: 8rem 0;
  }
  @include responsive($lg) {
    width: 40%;
    height: 50rem;
  }
  height: 20rem;

  img {
    width: auto;
    height: 100%;
    @include responsive($md) {
      width: 100%;
      height: 100%;
      object-fit: contain;
      padding: 4rem;
    }
  }
}

.accessories__content {
  @include responsive($md) {
    margin: 0;
    text-align: left;
    width: 50%;
  }
  max-width: 50rem;
  height: 100%;
  padding: 0 $space;
  text-align: center;
}

.accessories__wrapper .arrow {
  position: absolute;
  top: 45%;
  width: 20px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  color: $light;
}

.accessories__wrapper .arrow:hover {
  transform: scale(1.1);
}

.accessories__wrapper .arrow-left {
  left: 5%;
  @include responsive($lg) {
    left: 10%;
  }
  @include responsive($xl) {
    left: 23%;
  }
}

.accessories__wrapper .arrow-right {
  right: 5%;
  @include responsive($lg) {
    right: 10%;
  }
  @include responsive($xl) {
    right: 23%;
  }
}

.accessories__wrapper .dots {
  @include responsive($md) {
    top: 85%;
  }
  position: absolute;
  top: 100%;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  font-size: 0;
}

.accessories__wrapper .dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 2px;
  border-radius: 50%;
  background: $deep-grey;
  cursor: pointer;
}

.accessories__wrapper .dots .current-dot {
  background: $light;
}
