.gesture {
  @include responsive($md) {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    margin: $sections-space 0;
  }
  margin-top: $normal-space;
}

.gesture__images {
  opacity: 0.5;
  text-align: center;
  padding-bottom: $normal-space;
  cursor: grab;

  will-change: opacity;

  &--left,
  &--right {
    width: 40%;
    height: auto;
  }
}

.gesture__content {
  @include responsive($md) {
    max-width: 60%;
    text-align: center;
  }
}
