.menu {
  position: fixed;
  z-index: 10;
  width: 100vw;
  padding: 1rem;
  border-bottom: 1px solid #222222;
  background-color: $dark;
}

.menu__container {
  display: flex;
  align-items: center;
  height: 4rem;
}

.menu__icon {
  flex: 1;
  height: 60%;
  cursor: pointer;
  &--left {
    text-align: left;
  }
  &--right {
    text-align: right;
  }
  img {
    width: auto;
    height: 100%;
  }
}

.menu__burger {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 80vh;
  padding-top: 4rem;
  transform: translateY(-120%);
  transition: transform 0.4s cubic-bezier(0.01, 0.74, 0.46, 1.04);
  background-color: $light;
}

.menuBurger__links {
  height: 70%;

  nav {
    height: 100%;

    ul {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
    }
  }
}

.menu__link {
  position: relative;
  z-index: 1;
  line-height: 3.6rem;
  color: $dark;
  font-size: 3.2rem;
  font-weight: 600;

  &:before {
    position: absolute;
    bottom: -5%;
    left: 50%;
    z-index: -1;
    width: 110%;
    height: 50%;
    transform: translateX(-50%) scaleX(0);
    transform-origin: right;
    transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    background-color: $light-blue;
    content: '';

    will-change: transform;
  }
  &:hover::before {
    transform: translateX(-50%) scaleX(1);
  }
}

.menu__socials {
  @include responsive($md) {
    width: 60%;
    margin-top: 10rem;
  }
  display: flex;
  align-content: center;
  margin-top: 5rem;
}

.menuBurger__ic {
  flex: 1;
  text-align: center;

  a:hover {
    .icon {
      fill: $main-blue;
    }
  }
}
