.hero {
  @include responsive($md) {
    display: flex;
    flex-direction: column-reverse;
    padding: $normal-space;
  }
  margin: $sections-space 0 $space 0;
}

.hero__images {
  @include responsive($sm) {
    height: 55vh;
  }
  @include responsive($md) {
    height: 70vh;
  }
  @include responsive ($lg) {
    width: 100%;
    max-width: 168rem;
    margin: 0 auto;
  }
  position: relative;
  height: 30vh;
  overflow: hidden;
  cursor: grab;
  picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.hero__image--eyes {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.hero__image--background {
  @include size(100%, 100%);
  @include background('../img/welcome-background@350w.jpg', 50%, cover);
  @include responsive($xs) {
    background-image: url('../img/welcome-background@560w.jpg');
  }
  @include responsive($sm) {
    background-image: url('../img/welcome-background@720w.jpg');
  }
  @include responsive($md) {
    background-image: url('../img/welcome-background@1280w.jpg');
  }
  @include responsive($lg) {
    background-image: url('../img/welcome-background@1920w.jpg');
  }
  @include responsive($xl) {
    background-image: url('../img/welcome-background-full.jpg');
  }
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hero__content {
  @include responsive($md) {
    transform: initial;
    text-align: center;
  }
  @include responsive($md) {
    margin-bottom: $space;
  }
  transform: translateY(-15%);
}
