.immersive {
  margin: 0;
}

.immersive__background {
  @include background('../img/immersive-background@350w.png', 50%, cover);
  @include responsive($xs) {
    background-image: url('../img/immersive-background@560w.png');
  }
  @include responsive($sm) {
    background-image: url('../img/immersive-background@720w.png');
  }
  @include responsive($md) {
    background-image: url('../img/immersive-background@1280w.png');
  }
  @include responsive($lg) {
    background-image: url('../img/immersive-background@1920w.png');
  }
  @include responsive($xl) {
    height: 130vh;
    background-image: url('../img/immersive-background-full.png');
  }
  @include size(100%, 100vh);
  position: relative;
  min-height: 80rem;
}

.immersive__content {
  @include responsive($md) {
    justify-content: center;
    height: 60%;
  }
  position: relative;
  height: 100%;
  padding-top: 12rem;
}

.immersive__wrapper {
  @include responsive($md) {
    max-width: 50%;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 95%;

  p {
    @include responsive($md) {
      margin-bottom: initial;
    }
    margin-bottom: auto;
  }
  h3 {
    @include responsive($md) {
      margin: 4rem 0 0 0;
      text-align: left;
    }
    margin-bottom: 12rem;
    text-align: center;
  }
}

.immersive__turtle {
  @include responsive($xs) {
    top: 170%;
    right: -5%;
  }
  @include responsive($md) {
    right: -5%;
  }
  @include responsive($lg) {
    right: 10%;
  }
  position: absolute;
  right: 5%;
  bottom: -60%;
  max-width: 30rem;
}   
