.magic {
  @include responsive ($md) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  @include responsive($lg) {
    margin-top: $sections-space;
  }
  margin-bottom: 0;
}

.magic__image {
  @include background('../img/magic-background@350w.png', 100%, contain);
  @include responsive($xs) {
    height: 30rem;
    background-image: url('../img/magic-background@560w.png');
  }
  @include responsive($md) {
    height: 45vh;
    background-size: cover;
    background-position: 0%;
    background-image: url('../img/magic-background-full.png');
  }
  @include responsive($lg) {
    height: 75vh;
  }
  width: auto;
  height: 45rem;
}

.magic__content {
  @include responsive($md) {
    align-self: center;
    grid-row: 1;

    .container {
      width: 80%;
    }
  }
  @include responsive($lg) {
    .container {
      margin-left: auto;
      margin-right: 0;
    }
  }
}
