.stand {
  padding: $sections-space 0;
  background-color: $light;
}

.stand__icon {
  width: 6rem;
  margin: auto;
}

.stand__content {
  padding: $blocs-space 0 0 0;
  text-align: center;
  color: $dark;
  h2 {
    color: $dark;
  }
  &--btn {
    color: $light;
  }
}
